* {
  margin: 0;
  box-sizing: border-box;
}

#display {
  padding: 8px;
  display: flex;
  justify-content: space-around;
}

.tool-panel {
  text-align: right;
}

.tool-panel img {
  max-width: 32px;
}

.tool-panel button {
  border: 0;
  border-radius: 5px;
  padding: 4px;
  background-color: #AAA;
  margin: 8px;
}
.tool-panel button.selected {
  box-shadow: 0 0 2px 2px rgba(255,255,200,0.5);
  background-color: #EEE;
}

.tool-panel button.highlighted {
  background-color: #EEE;
}

.color-picker {
  padding: 8px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}


.swatch.selected {
  box-shadow: 0 0 2px 2px rgba(255,255,200,0.5);
}

.controls {
  color: #BBB;
  background-color: #000;
  align-items: center;
  padding-left: 60px;
  height: 32px;
  font-family: Courier, sans-serif;
}

.pallette-picker {
  padding: 5px;
}

.controls button {
  border: 0;
  border-radius: 5px;
  background-color: #333;
  color: #BBB;
}

.controls button:hover {
  background-color: #555;
}

.controls button:active {
  background-color: #BBB;
  color: #333;
}

#game-board {
  border: 1px solid black;
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.35);
  display: block;
  margin: 0 auto;
}